.contenedorfoot{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "foot foot foot foot";
    .foot{
    grid-area: foot;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0;
    }
    .txtred{
        font-size: 20px;
        color: white;
       
    }
            
    .pago{
        display: flex;
        justify-content: start;
        align-items: center;
    }     
    
    

    }
//MIXINS FOOTER
@mixin ic{
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
     &:hover{
        color: &hover;
     }
 }

 .bi-instagram {
    @include ic;
}
.bi-facebook{
    @include ic;
}
.bi-person-lines-fill{
    @include ic;
}
 

