.fotos{
    display: flex;
    justify-content: space-around;
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    transition: all 800ms;
    &:hover{
    transform:scale(.9) ;
    filter: sepia(.5);
   }
}
// EXTEND
.img2{
    @extend.img1;
}
.cajaTex{
    .text1{
        background-color: rgb(201, 160, 160);
        .hcartel{
            font-size: 30px;
            word-spacing: 10px;
            color: black;
            font-style: italic;
        
        } 
    }
    .text2{
        box-shadow: 0px 5px 26px 8px goldenrod;
        width: 90%;
        margin: 20px auto;
        .animacion{
            animation-duration: 2s;
            animation-name: animacion;
            animation-iteration-count: infinite ;
            @keyframes animacion{
                0%{
                    opacity: 0;
                }
                50%{
                    opacity: 1;
                    color: gold;
                }
                100%{
                    opacity: 0;
                }
            }
        }
    }        
}
.galeria{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
    align-content: center;
    gap: 20px;
    .imgG{
        width: 300px;
        border-radius: 3px;
        transition: all 300ms;
        &:hover{
            transform: scale(1.2);
        }
           
    }
}
    



